#Exclude BUILD directory
*/BUILD/*
*/.temp/*
.vscode/*
#Exclude library files

lora-nodeOTP/SX1272Lib/*
lora-nodeOTP/LoRaWAN-lib/.hg/*
lora-nodeOTP/mbed/*
*/.hg/*

#Exclude library files
lora-nodeCose/SX1272Lib/.hg/*
lora-nodeCose/LoRaWAN-lib/.hg/*
