#Exclude BUILD directory
*/BUILD/*
*/.temp/*
#Exclude library files

*/SX1272Lib/*
lora-nodeCOSE/LoRaWAN-lib/*
lora-nodeOTP/LoRaWAN-lib/.hg/*
lora-nodeCOSE/LoRaWAN-lib/.hg/*
*/mbed/*
*/mbed_settings.pyc
*/.hg/*
/.*

#Exclude library files
lora-nodeCose/SX1272Lib/*
lora-nodeCose/LoRaWAN-lib/*
